<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products with Websocket</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  </head>
  <body>

    <h2>Formulario</h2>
    <form id="formEntry">
      <input type="text" id="prodName" placeholder="Producto" />
      <input type="text" id="prodDescription" placeholder="Descripción" />
      <input type="text" id="prodCode" placeholder="Código" />
      <input type="text" id="prodPrice" placeholder="Precio" />
      <input type="text" id="prodStatus" placeholder="Status" />
      <input type="text" id="prodStock" placeholder="Stock" />
      <input type="text" id="prodCategory" placeholder="Categoría" />
      <button type="submit" id="btn">Enviar</button>
    </form>

    <h1>Productos</h1>
    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Descripción</th>
          <th>Código</th>
          <th>Precio</th>
          <th>Status</th>
          <th>Stock</th>
          <th>Categoría</th>
          <th>Id</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.code}}</td>
            <td>{{this.price}}</td>
            <td>{{this.status}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.category}}</td>
            <td id="productID">{{this.id}}</td>
            <td><button type="" class="btnDelete">Eliminar</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <script src="/socket.io/socket.io.js"></script>

  </body>
</html>